<footer class="py-4 mt-auto">
    <div class="container px-5">

        <div class="d-flex justify-content-between align-items-center flex-wrap">

            <!-- Left side -->
            <div class="small text-muted">
                Copyright &copy; {{ year|default:"2026" }}
            </div>

            <!-- Right side -->
            <div>
                <!-- <a class="small text-muted" href="#">Privacy</a>
                <span class="mx-2 text-muted">&middot;</span>

                <a class="small text-muted" href="#">Terms</a>
                <span class="mx-2 text-muted">&middot;</span> -->

                <a class="small text-muted" href="{% url 'contact' %}">
                    Contact
                </a>
            </div>

        </div>

    </div>
</footer>
